<div class="views-row views-row-1 views-row-odd views-row-first">
   <article about="{{site.baseurl}}/content/strengthening-program-design-monitoring-and-evaluation-state" typeof="sioc:Item foaf:Document" role="article" class="node node--blog node-teaser view-mode-teaser node--teaser node--blog--teaser">
      <div class="node--blog--date-group">
         <h4 class="day">
            18
         </h4>
         <h4 class="month">
            Jun
         </h4>
      </div>
      <div class="node--blog--main-group">
         <h2><a href="{{site.baseurl}}/content/strengthening-program-design-monitoring-and-evaluation-state" rel="bookmark">Strengthening Program Design, Monitoring, and Evaluation at State</a></h2>
         <p>By April Linton</p>
         <div style="width:250px;font-size:80%;text-align:center;float:left;padding-right:20px;">
            <p><img alt="Toolkit Image" src="{{site.baseurl}}/sites/default/files/styles/blog_media/public/2018.6.18_State-Image-1.jpg?itok=ARIHWUpy" width="250" /><i>The State Department’s Program Design and Performance Management Toolkit</i></p>
         </div>
      </div>
   </article>
</div>
<div class="views-row views-row-2 views-row-even">
   <article about="{{site.baseurl}}/content/bruce-hollywood-assistant-deputy-director-joint-strategic-planning-joint-chiefs-staff-brings" typeof="sioc:Item foaf:Document" role="article" class="node node--blog node-teaser view-mode-teaser node--teaser node--blog--teaser">
      <div class="node--blog--date-group">
         <h4 class="day">
            14
         </h4>
         <h4 class="month">
            May
         </h4>
      </div>
      <div class="node--blog--main-group">
         <h2><a href="{{site.baseurl}}/content/bruce-hollywood-assistant-deputy-director-joint-strategic-planning-joint-chiefs-staff-brings" rel="bookmark">Bruce Hollywood, Assistant Deputy Director of Joint Strategic Planning, Joint Chiefs of Staff, brings dynamic perspective back to his home agency after WHLDP fellowship</a></h2>
         <p><em>This blog is the second in a series of posts that will spotlight the experiences and accomplishments of White House Leadership Development Program fellows and alumni. </em></p>
         <p> </p>
         <p align="center"><img alt="WHLDP" src="{{site.baseurl}}/sites/default/files/styles/blog_media/public/Image2.PNG" style="width:600px" /></p>
      </div>
   </article>
</div>
<div class="views-row views-row-3 views-row-odd">
   <article about="{{site.baseurl}}/content/white-house-leadership-development-program-alumni-spotlight-jack-schreibman-associate" typeof="sioc:Item foaf:Document" role="article" class="node node--blog node-teaser view-mode-teaser node--teaser node--blog--teaser">
      <div class="node--blog--date-group">
         <h4 class="day">
            10
         </h4>
         <h4 class="month">
            May
         </h4>
      </div>
      <div class="node--blog--main-group">
         <h2><a href="{{site.baseurl}}/content/white-house-leadership-development-program-alumni-spotlight-jack-schreibman-associate" rel="bookmark">White House Leadership Development Program Alumni Spotlight: Jack Schreibman, Associate Administrator for Administration at Motor Carrier Safety Administration, U.S. Department of Transportation</a></h2>
         <p><em>This blog is the fist in a series of posts that will spotlight the experiences and accomplishments of White House Leadership Development Program fellows and alumni.</em></p>
         <p><em>At a recent White House Leadership Development Program (WHLDP) alumni event, we caught up with Jack and asked him about his experience in the program. Here is what he had to say about his experience as part of the 2016 inaugural cohort of fellows.</em></p>
         <p align="center"><img alt="WHLDP" src="{{site.baseurl}}/sites/default/files/styles/blog_media/public/Image.png?itok=Y_NHMcTO" style="width:600px" /></p>
      </div>
   </article>
</div>

{% for post in site.posts %}
{% assign ind = forloop.index | divided_by: 2 %}
<div class="views-row views-row-{{forloop.index}} views-row-{{page.oddeven}}">
{% if forloop.index == 1 %}first{% elsif forloop.index  %} {% else %} {% endif %}
   <article about="{{page.permalink}}" typeof="sioc:Item foaf:Document" role="article" class="node node--blog node-teaser view-mode-teaser node--teaser node--blog--teaser">
      <div class="node--blog--date-group">
         <h4 class="day">
            {{page.day}}
         </h4>
         <h4 class="month">
            {{page.month}}
         </h4>
      </div>
      <div class="node--blog--main-group">
         <h2><a href="{{page.permalink}}" rel="bookmark">{{page.title}}</a></h2>
         {% for p in page.paragraphs %}
            <p><em>{{ p }}</em></p>
         {% endfor %}
         <p><em>{{page.subtitle}}</em></p>
         <p><em>At a recent White House Leadership Development Program (WHLDP) alumni event, we caught up with Jack and asked him about his experience in the program. Here is what he had to say about his experience as part of the 2016 inaugural cohort of fellows.</em></p>
         <p align="center"><img alt="WHLDP" src="{{site.baseurl}}/default/files/styles/blog_media/public/Image.png?itok=Y_NHMcTO" style="width:600px" /></p>
      </div>
   </article>
</div>
{% endfor %}
