---
title: WHITE HOUSE LEADERSHIP DEVELOPMENT PROGRAM
permalink: /whldp/
redirect_to: https://www.performance.gov/whldp/
---
{% include whldp-nav.html %}


<div id="main" class="l-main">
<a id="main-content"></a>

<div class="panel-display panel-1col clearfix" >
  <div class="panel-panel panel-col">
    <div><div id=fpid-41 class="panel-pane pane-fieldable-panels-pane pane-fpid-41 pane-bundle-fieldable-panels-pane"  class="panel-pane pane-fieldable-panels-pane pane-fpid-41 pane-bundle-fieldable-panels-pane">
    <div class="pane-inner-wrapper" style="margin-top:80px;">
    <p style="padding: 10px 0px 10px 0px"><a href="https://www.pic.gov/" style="color:white">&#8592; Back to PIC.gov</a></p>
      <h2 class="pane-title" style="">WHITE HOUSE LEADERSHIP DEVELOPMENT PROGRAM</h2>


    <div class="pane-content">
      <div class="fieldable-panels-pane" class="fieldable-panels-pane">

  <div class="field field--name-field-body field--type-text-long field--label-hidden">
    <h3>Scroll down to learn more about the program, goals and objectives, and the current Fellows</h3>
  </div>
</div>
    </div>


      </div>
</div>
</div>
</div>

<div id=fpid-39 class="panel-pane pane-fieldable-panels-pane pane-fpid-39 pane-bundle-tryptich"  class="panel-pane pane-fieldable-panels-pane pane-fpid-39 pane-bundle-tryptich" style="background:white; color: black">
  <div class="pane-inner-wrapper">

              <h2 class="pane-title"style="color:black">Overview</h2>


    <div class="pane-content" style="color:black">
      <div class="fieldable-panels-pane" class="fieldable-panels-pane">
    <div class="tryptich-wrapper">
  <div style="width:46.20339%" class="field field--name-field-tryptich-sections field--type-field-collection field--label-hidden">
          <h3 style="color:black" class="field field--name-field-title field--type-text field--label-hidden">
    About   </h3>

  <div class="field field--name-field-section-body field--type-text-long field--label-hidden">
      <p>The White House Leadership Development Program (WHLDP) engages a diverse annual cohort of GS-15 career employees to work on the federal government's highest priority and highest impact challenges. The Program is sponsored by the <a href="https://www.whitehouse.gov/the-trump-administration/">Executive Office of the President (EOP)</a> and supported by the <a href="https://www.pic.gov/">Performance Improvement Council (PIC).</a></p>
      </div>
  </div>
  <div style="width:46.20339%" class="field field--name-field-tryptich-sections field--type-field-collection field--label-hidden">
          <h3 style="color:black"class="field field--name-field-title field--type-text field--label-hidden">Resources    </h3>

  <div class="field field--name-field-section-body field--type-text-long field--label-hidden">
<ul>
  <li style="color:black"><a style="background-image: none" href="{{site.baseurl}}/assets/images/2021_Manual.pdf">Click here</a> to view the Program Manual </li>
  <li style="color:black"><a style="background-image: none;" href="{{site.baseurl}}/assets/images/2021-nomination-guide.pdf">Click here</a> to view the 2021 Nomination Guide </li>
  <li>Follow us on LinkedIn  |  <a style="background-image: none;" href="https://www.linkedin.com/company/whldp/"><img style="width:28px; margin-left:5px; position: absolute;" src="{{site.baseurl}}/assets/images/li.png"></a>
    <style>
    background: url('https://api.iconify.design/fa-linkedin.svg') no-repeat center center / contain;</style></li>



</ul>
 </div>
  </div>
</div></div>
    </div>

    <br>
    <center><iframe src="https://player.vimeo.com/video/415563917" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></center>
    <center><p>View a transcript of the video <a href="{{site.baseurl}}/assets/White%20House%20Leadership%20Development%20Program%20Video%20Transcript.pdf"><u>here</u></a>.</p><center>
      </div>
</div>


<div id=fpid-39 class="panel-pane pane-fieldable-panels-pane pane-fpid-39 pane-bundle-tryptich"  class="panel-pane pane-fieldable-panels-pane pane-fpid-39 pane-bundle-tryptich" style="background:#dfe1e2; color: black">
  <div class="pane-inner-wrapper">

              <h2 class="pane-title"style="color:black">Program Goals &amp; Objectives</h2>


    <div class="pane-content" style="color:black">
      <div class="fieldable-panels-pane" class="fieldable-panels-pane">
    <div class="tryptich-wrapper">
  <div style="width:46.20339%" class="field field--name-field-tryptich-sections field--type-field-collection field--label-hidden">
          <h3 style="color:black" class="field field--name-field-title field--type-text field--label-hidden">
      Develop Talent    </h3>

  <div class="field field--name-field-section-body field--type-text-long field--label-hidden">
    <p style="color:black">Cultivate the next generation of career senior executives through a rotation focused on the complex, cross-agency challenges that increasingly confront the Federal Government while incorporating a development component to build and strengthen enterprise leadership skills.</p>
<p style="color:black"><strong>Key Objectives:</strong>
</p><ul><li style="color:black">Provide Fellows a broad federal perspective on high-priority challenges.</li>
<li style="color:black">Provide Fellows with access to senior decision-makers.</li>
<li style="color:black">Develop Fellows as a cadre of leaders with the skillsets and networks to address challenges through a cross-agency lens and implement solutions across organizational boundaries.</li></ul>  </div>
  </div>
  <div style="width:46.20339%" class="field field--name-field-tryptich-sections field--type-field-collection field--label-hidden">
          <h3 style="color:black"class="field field--name-field-title field--type-text field--label-hidden">
      Deliver Results    </h3>

  <div class="field field--name-field-section-body field--type-text-long field--label-hidden">
    <p style="color:black">Harness top talent from across the government to support implementation of key priorities and address mission critical challenges, such as Cross-Agency Priority (CAP) Goals.</p>
<p style="color:black"><strong>Key Objectives:</strong>
</p><ul><li style="color:black">Strengthen on-going implementation efforts on specific Administration initiatives, such as the Cross-Agency Priority (CAP) Goals that require collaboration and coordination among multiple organizations.</li>
<li style="color:black">Strengthen long-term strategic planning to ensure delivery of tangible results.</li>

</ul>  </div>
  </div>
</div></div>
    </div>


      </div>
</div>
<div  class="panel-pane pane-views-panes pane-cohort-list-slider-panel-pane-1"  class="panel-pane pane-views-panes pane-cohort-list-slider-panel-pane-1">
  <div class="pane-inner-wrapper">

  <h2 class="pane-title">Current Cohort</h2>


    <div class="pane-content">
      <div class="view view-cohort-list-slider view-id-cohort_list_slider view-display-id-panel_pane_1 view-dom-id-a2492ba9b7e589d7244b9a7eb2e397e4">
            <div class="view-header">
<center>

<main>

  <style>
.pane-profiles-panel-pane-1, .pane-our-staff-home-panel-pane-1, .pane-cohort-list-slider-panel-pane-1 {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.view-cohort-list-slider .item-list {
  padding: 0 25px;
  position: relative;
}

.round {
  border-radius: 90px;
  object-fit: cover;
  width: 140px;
  height: 140px;
  }

* {
  box-sizing: border-box;
}
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 300px;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

article {
  border-radius: 10px;
  padding: 20px;

}

article:nth-child(odd) {
}

article:nth-child(even) {
}

</style>

{% for cohorts in site.cohort %}
<article>
    <a href="{{site.baseurl}}{{cohorts.permalink}}"><img class="round" src="{{site.baseurl}}/assets/images/2019-cohort/{{ cohorts.image }}" alt="{{ cohorts.alt }}" /></a>
    <h4><a href="{{site.baseurl}}{{cohorts.permalink}}" rel="bookmark">{{ cohorts.title }}</a></h4>
    <h5 style="font-size: 1.07em;margin-top: -5%">{{ cohorts.taglines }}</h5>
<!--    <h5 style="margin-top: -6%"> {{ cohorts.agency }}</h5>-->
</article>
{% endfor %}
</main>



<link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">

</div>    </div>






</div>    </div>


      </div>
</div>
</div>
  </div>
</div>
          </div>
  </div>

  {% include footer.html %}

  </div>
  </body>
  </html>
