<div class="footer__wrapper">
  <footer class="l-footer" role="contentinfo">
      <div class="l-region l-region--footer">
  <div id="block-block-2" class="block block--block block--block-2">
      <div class="block__content">
  <p style="text-align: center; color: #fff;">This is a U. S. General Services Administration Federal Government computer system that is<br /><strong>"FOR OFFICIAL USE ONLY."</strong><br />This system is subject to monitoring. Individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.</p>
<a href="http://www.performance.gov">Performance.gov</a>
  <span>|</span>
  <a href="http://www.gsa.gov">GSA.gov</a>
  <span>|</span>
  <a href="http://www.usa.gov">USA.gov</a>
  <span>|</span>
  <a href="http://www.gsa.gov/portal/content/116621">Accessibility Aids</a>
  <span>|</span>
  <a href="http://www.gsa.gov/portal/content/116609">Privacy and Security</a>
  <span>|</span>
  <a href="">PIC.gov</a>
  <span>|</span>
  <a class="social linked-in" href="http://www.linkedin.com/company/performance-improvement-council">
    <img src="{{site.baseurl}}/sites/all/themes/pic_omega/images/icons/linked-in.png" style="vertical-align:middle;" alt="LinkedIn" title="LinkedIn" /></a>
    <style>{% include style.html %}</style>
<script type="text/javascript">
jQuery(".node-type-project .secondary-page-title").text("Our Priorities");

//--><!]]>
</script>  </div>
</div>
</div>
  </footer>
</div>
