<div class="header__wrapper">
  <div class="banner" style="background: gray;color: #fff;padding: 0.2em 1em;">This website is being migrated to <a href="https://performance.gov/pic" style="color:#ffffff;text-decoration: underline;">performance.gov</a>. Some information may be out-of-date.</div>
  <header class="l-header" role="banner">
      <div class="logo">
        <a href="{{site.baseurl}}/" title="Home" rel="home" class="site-logo">
          <img typeof="foaf:Image" src="{{site.baseurl}}/sites/all/themes/pic_omega/images/logo.png" alt="Home">        </a>
      </div>
        <div class="l-region l-region--navigation">
    <nav id="block-menu-block-2" role="navigation" class="block block--menu-block block--menu-block-2">

<ul class="menu">
  {% if page.title == 'What We Do' %}
  <li class="first expanded active-trail active menu-mlid-305 main-menu--top">
    <a href="{{site.baseurl}}/what-we-do/mission" title="What We Do menu links to the middle of home page and highlights goals and mission." class="active-trail active">What We Do</a>
    <ul class="menu">
      <li class="first leaf active-trail active menu-mlid-526">
        <a href="{{site.baseurl}}/what-we-do/mission" title="link to statement of mission" class="active-trail active">Mission</a>
      </li>
      <li class="last leaf has-children menu-mlid-308">
        <a href="{{site.baseurl}}/content/cross-agency-engagements" title="Our Work">Our Priorities</a>
      </li>
    </ul>
  </li>
  {% else %}
  <li class="first expanded menu-mlid-305 main-menu--top">
    <a href="{{site.baseurl}}/what-we-do/mission" title="What We Do menu links to the middle of home page and highlights goals and mission.">What We Do</a>
    <ul class="menu">
      <li class="first leaf menu-mlid-526">
        <a href="{{site.baseurl}}/what-we-do/mission" title="link to statement of mission">Mission</a>
      </li>
      <li class="last leaf has-children menu-mlid-308">
        <a href="{{site.baseurl}}/content/cross-agency-engagements" title="Our Work">Our Priorities</a>
      </li>
    </ul>
  </li>
  {% endif %}
<li class="expanded main-menu--top"><a href="{{site.baseurl}}/who-we-are/the-council" >Who We Are</a><ul class="menu"><li class="first leaf menu-mlid-438"><a href="{{site.baseurl}}/who-we-are/the-council" title="The Council">The Council</a></li>
<li class="leaf menu-mlid-770"><a href="{{site.baseurl}}/pio-staff" title="Members of the Performance Improvement Council">Members of the Performance Improvement Council</a></li>
<li class="last leaf menu-mlid-527"><a href="{{site.baseurl}}/who-we-are/the-community" title="The Community">Key Partners</a></li>
</ul></li>


<li class="expanded menu-mlid-303 main-menu--top"><a href="{{site.baseurl}}/pic-resources" title="Resources">Resources</a>

  <ul class="menu">
    <li class="leaf menu-mlid-7703"><a href="{{site.baseurl}}/blog" title="Blog">Community Perspectives</a></li>
    <li class="leaf menu-mlid-7703"><a href="{{site.baseurl}}/our-services/" title="Blog">Our Services</a></li>
  </ul>

</li>


</ul></nav>
  </div>
      <div class="l-region l-region--header">
        <div class="main-menu-toggle">
  <a href="#block-menu-block-2"><i class="fa fa-2x fa-bars">nav-menu</i></a>
</div>
<div>

  <div id="block-search-form" role="search" class="block block--search block--search-form">
      <div class="block__content">
        <form id="search_form" action="https://search.usa.gov/search" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓">
          <input type="hidden" name="affiliate" id="affiliate" value="pic-federalist">
          <input type="text" name="query" id="query" autocomplete="off" class="usagov-search-autocomplete ui-autocomplete-input form-text">
          <input type="submit" name="commit" value="Search" class="form-submit">
        </form>
      </div>
  </div>

</div>
</div>
    </header>
    <script>
      var usasearch_config = { siteHandle:"pic-federalist" };
      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "//search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);
    </script>

  </div>
