  <style>
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/system/system.base.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/system/system.messages.theme.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/system/system.theme.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/modules/contrib/date/date_api/date.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/modules/contrib/date/date_popup/themes/datepicker.1.7.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/field/field.theme.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/user/user.base.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/omega/omega/css/modules/user/user.theme.css?pcsnps");
  </style>
  <style>
  @import url("{{site.baseurl}}/sites/all/modules/contrib/ctools/css/ctools.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/modules/contrib/panels/css/panels.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/modules/contrib/panels/plugins/layouts/onecol/onecol.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/libraries/jQuery.mmenu-master/src/css/jquery.mmenu.all.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/libraries/FlexSlider/flexslider.css?pcsnps");
  </style>
  <style>
  @import url("{{site.baseurl}}/sites/all/themes/pic_omega/css/pic-omega.normalize.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/pic_omega/css/pic-omega.hacks.css?pcsnps");
  @import url("{{site.baseurl}}/sites/all/themes/pic_omega/css/pic-omega.styles.css?pcsnps");
  </style>

  <!--[if lte IE 8]>
  <style>
  @import url("{{site.baseurl}}/sites/all/themes/pic_omega/css/pic-omega.no-query.css?pcsnps");
  </style>
  <![endif]-->
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600&amp;pcsnps" media="all" />
  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>


  <script src="{{site.baseurl}}/misc/jquery.once.js?v=1.2"></script>
  <script src="{{site.baseurl}}/misc/drupal.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/themes/omega/omega/js/no-js.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/libraries/parallax/js/jquery.parallax.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/libraries/parallax/js/jquery.scrollTo.min.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/libraries/jQuery.mmenu-master/src/js/jquery.mmenu.min.all.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/libraries/FlexSlider/jquery.flexslider-min.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/libraries/FooTable/js/footable.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/themes/pic_omega/js/pic-omega.behaviors.js?pcsnps"></script>
  <script src="{{site.baseurl}}/sites/all/themes/pic_omega/js/Universal-Federated-Analytics.js?pcsnps"></script>
