<div class="header__wrapper">
    <header class="l-header" role="banner">
      <div class="logo">
        <a href="/" title="Home" rel="home" class="site-logo">
          <img typeof="foaf:Image" src="{{site.baseurl}}/sites/all/themes/pic_omega/images/logo.png" alt="Home">        </a>
      </div>
        <div class="l-region l-region--navigation">
    <nav id="block-menu-block-2" role="navigation" class="block block--menu-block block--menu-block-2">

<ul class="menu">
  {% if page.title == 'What We Do' %}
  <li class="first expanded active-trail active menu-mlid-305 main-menu--top">
    <a href="/what-we-do/mission" title="What We Do menu links to the middle of home page and highlights goals and mission." class="active-trail active">What We Do</a>
    <ul class="menu">
      <li class="first leaf active-trail active menu-mlid-526">
        <a href="/what-we-do/mission" title="link to statement of mission" class="active-trail active">Mission</a>
      </li>
      <li class="last leaf has-children menu-mlid-308">
        <a href="/content/cross-agency-engagements" title="Our Work">Our Priorities</a>
      </li>
    </ul>
  </li>
  {% else %}
  <li class="first expanded menu-mlid-305 main-menu--top">
    <a href="/what-we-do/mission" title="What We Do menu links to the middle of home page and highlights goals and mission.">What We Do</a>
    <ul class="menu">
      <li class="first leaf menu-mlid-526">
        <a href="/what-we-do/mission" title="link to statement of mission">Mission</a>
      </li>
      <li class="last leaf has-children menu-mlid-308">
        <a href="/content/cross-agency-engagements" title="Our Work">Our Priorities</a>
      </li>
    </ul>
  </li>
  {% endif %}
<li class="expanded menu-mlid-437 main-menu--top"><a href="/who-we-are/the-council" title="Who We Are">Who We Are</a><ul class="menu"><li class="first leaf menu-mlid-438"><a href="/who-we-are/the-council" title="The Council">The Council</a></li>
<li class="leaf menu-mlid-770"><a href="/pio-staff" title="Members of the Performance Improvement Council">Members of the Performance Improvement Council</a></li>
<li class="last leaf menu-mlid-527"><a href="/who-we-are/the-community" title="The Community">Key Partners</a></li>
</ul></li>
{% if page.layout == 'blog' %}<li class="expanded active-trail active menu-mlid-303 main-menu--top"><a href="/blog" title="Blog" class="active-trail">Blog</a><ul class="menu"><li class="first last leaf has-children active-trail menu-mlid-753"><a href="/blog" title="Blog" class="active-trail">Blog</a></li>
{% else %} <li class="expanded menu-mlid-303 main-menu--top"><a href="/blog" title="Blog" class="">Blog</a><ul class="menu"><li class="first last leaf has-children menu-mlid-753"><a href="/blog" title="Blog" class="">Blog</a></li>
{% endif %}</ul></li>
<li class="last leaf menu-mlid-1912"><a href="/pic-resources" title="">Resources</a></li>
</ul></nav>
  </div>
      <div class="l-region l-region--header">
  <div class="main-menu-toggle">
    <a href="#block-menu-block-2"><i class="fa fa-2x fa-bars">nav-menu</i></a>
  </div>
  <div>
    <div id="block-search-form" role="search" class="block block--search block--search-form">
        <div class="block__content">
    <form class="search-block-form" action="/content/transitions-and-opportunities" method="post" id="search-block-form" accept-charset="UTF-8"><div><div class="container-inline">
      <h2 class="element-invisible">Search form</h2>
    <div class="form-item form-type-textfield form-item-search-block-form">
  <label class="element-invisible" for="edit-search-block-form--2">Search </label>
 <input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Search" class="form-submit"></div><input type="hidden" name="form_build_id" value="form-_bolINMciBnVkdhA6mNv7XGLPaI2h6fckR1yGesxXzg">
<input type="hidden" name="form_id" value="search_block_form">
</div>
</div></form>  </div>
</div>
  </div>
</div>
    </header>
  </div>
