.header__wrapper{
    display:none;
}
body.page-playbook-cio .page-playbook{
    font-size:20px;
}
.page-playbook-cio .main__wrapper{
    margin-top:0;
}
.pane-fpid-37, .pane-fpid-38{
    background:rgb(50, 58, 69) none repeat scroll 0 0;
    color:#fff;
}
.pane-fpid-35{
    background:rgb(0, 110, 182) none repeat scroll 0 0 !important;
    color:#fff;
}
.not-front .main__wrapper{
    margin-top:0px !important;
}
.pane-fieldable-panels-pane .field--name-field-body{
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:83.0508%;
}
.columns li a{
    color:#fff;
}
.button a{
    border:2px solid #fff;
    display:inline-block;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    color:#fff;
}
.button a:hover{
    color:#323a45;
    background:#fff none repeat scroll 0 0;
    text-decoration:none;
}
.page-playbook-cio .l-main ol li{
    margin-top:0;
    padding-bottom:20px;
    padding-top:0;
}
.page-playbook-cio .l-main ol{
    margin-top:0;
    padding-top:0;
}
.button{
    margin-bottom:25px;
}
.page-playbook-cio h3{
    color:#006eb6 !important;
}
.page-playbook-cio .l-main ul li::before{
    color:#006eb6 !important;
}
