.pane-current-44 a, .pane-current-44 a:visited, .pane-current-44 li a{
    color:#000 !important;
}
.header__wrapper{
    display:none;
}
.col-xs-4{
    width:31%;
    float:left;
    margin-right:1.69492%;
}
.pane-fieldable-panels-pane .col-xs-4 h3{
    text-align:left;
}
.pic-p3-main{
    float:right;
    width:225px;
    height:150px;
}
.pic-p3{
    display:block;
    margin:auto;
}
body.page-playbook-alt.page-playbook{
    font-size:20px;
}
.page-playbook-alt .main__wrapper{
    margin-top:0;
}
.pane-current-45, .pane-fpid-46, .pane-fpid-48{
    background:rgb(50,58,69) none repeat scroll 0 0;
    color:#fff;
}
.not-front .main__wrapper{
    margin-top:0px !important;
}
.pane-fieldable-panels-pane .field--name-field-body{
    float:left;
    margin-left:auto;
    margin-right:auto;
    width:83.0508%;
}
.columns li a{
    color:#fff;
}
.button a{
    border:2px solid #fff;
    display:inline-block;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    color:#fff;
}
.button a:hover{
    color:#323a45;
    background:#fff none repeat scroll 0 0;
    text-decoration:none;
}
.page-playbook-alt .l-main ol li{
    margin-top:0;
    padding-bottom:20px;
    padding-top:0;
}
.page-playbook-alt .l-main ol{
    margin-top:0;
    padding-top:0;
}
.button{
    margin-bottom:25px;
}
.page-playbook-alt h3{
    color:#006eb6;
}
.page-playbook-alt .l-main ul li::before{
    color:#006eb6 !important;
}
.page-playbook-alt .pane-fieldable-panels-pane .field--name-field-body p{
    text-align:left;
}
.page-playbook-alt .pane-fieldable-panels-pane .field--name-field-body p > img{
    text-align:center;
}
.page-playbook-alt .l-main{
    margin:0 auto;
    padding:0;
}
.page-playbook-alt .pane-fieldable-panels-pane{
    padding:0;
}
.page-playbook-alt .l-main ul li{
    margin-top:0;
    padding-bottom:20px;
    padding-top:0;
}
.page-playbook-alt .l-main ul{
    margin-top:0;
    padding-top:0;
}
.col-xs-4 h3.set{
    color:#28628E;
    font-weight:bold;
}
.col-xs-4 h3.plan{
    color:#E16740;
    font-weight:bold;
}
.col-xs-4 h3.achieve{
    color:#F1B828;
    font-weight:bold;
}
h2.large{
    font-size:2.5em;
}
.set{
    color:#28628E;
    font-weight:bold;
}
.plan{
    color:#E16740;
    font-weight:bold;
}
.achieve{
    color:#F1B828;
    font-weight:bold;
}
.pane-fpid-48 a{
    color:#fff;
}
.set-resources{
    border:1px solid #28628E;
    padding:10px 15px;
}
.plan-resources{
    border:1px solid #E16740;
    padding:10px 15px;
}
.set-resources a, .set-resources li a{
    color:#000;
}
.plan-resources a, .plan-resources li a{
    color:#000;
}
.achieve-resources {
    border: 1px solid #F1B828;
    padding: 10px 15px;
}
